*{
    margin:0%;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background:linear-gradient(90deg,rgb(253, 102, 127) 40% , cyan); */
    background-color: #303030;
}
main{
    background:#d84464;
    width:50%;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 0 20px 5px black;
    transition: 0.4s transform linear;
}
form{
    text-align: center;
    padding: 4rem ;
}
main label{
    display: block;
    margin: 1rem;
    font-size: 1.7rem;
    font-weight: 800;
    color: white;
}
button{
    display: block;
    padding: 1rem;
    margin-top: 2rem;
    width: 100%;
    border: none;
    font-size: 2rem;
    background-color: rgb(58, 58, 58);
    color: white;
    font-family: cursive;
    letter-spacing: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #2e2e2e;
}
#findBtn:hover i, #findBtn:focus i{
    color: red;
    text-shadow: 0 0 15px yellow;
}
input{
    width: 70%;
    padding: 0.7rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 0 8px 2px black;
}
input:focus{
    box-shadow: 0 0 10px 2px red;
}
input:focus::placeholder{
    color: palevioletred;
    font-weight: 800;
}
input::placeholder{
    text-align: center;
}
.container{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: 0.2s transform ease-in-out 0.1s;
}
.result{
    /* background:linear-gradient(90deg,rgb(253, 102, 127) 40% , cyan); */
    background-color: #383838;
    width: 50%;
    padding: 4rem;
    border-radius: 1.5rem;
    position: relative;
    text-align: center;
    display: block;
    box-shadow: 0 0 20px 5px black;
    transition: 0.2s transform ease-in 0.1s;
}
.name{
    font-size: 2rem;
    font-weight: 800;
    margin: 1rem 0;
    text-shadow: 0 2px 3px red;
    color: cyan;
}
.score{
    font-size: 3rem;
    color: white;
    text-shadow: 0 0 7px red;
}
.result button{
    border-radius: 1rem;
    padding: 0.5rem;
    width: 50%;
    margin: 0 auto;
    margin-top: 4rem;
    outline: none;
    box-shadow: 0 0 10px 3px black;
    background-color: red;
    display: block;
}
.result h1{
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color:white;
    text-shadow: 2px 2px 6px red;
}
#retry:hover{
    color: black;
    background-color: white;
}
#retry:active{
    transform: scale(0.93);
}

@media (max-width:800px) {
    form{
        padding: 0.5rem;
    }
    .result button{
        font-size: 1rem;
        overflow: hidden;
        letter-spacing: 2px;
    }
    .result h1{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .result{
        width: 100%;
    }
    main{
        width: 100%;
    }
}